.custom-input {
  position: relative;
  $root: &;

  &--error {
    .custom-input__text-error {
      display: block;
    }

    .custom-input__field {
      border: 1px solid $color-orange-red;
    }
  }

  &__field {
    border: 1px solid transparent;
    background-color: rgba($color-jaguar, .05);
    border-radius: 200px;
    font-size: 17px;
    line-height: 1.5;
    padding: 15px 20px;
    width: 100%;
    outline: none;
    transition: border $transition-300;

    &:hover, &:focus-visible {
      border: 1px solid rgba(29, 28, 41, 0.5);
    }

    &::placeholder {
      color: rgba($color-jaguar, 0.3);
    }
  }

  &__text-error {
    display: none;
    color: $color-orange-red;
    font-size: 17px;
    line-height: 1.5;
  }
}
