.star-raiting {
  display: flex;
  gap: 4px;
  align-items: center;
  flex-direction: row;
}

.star {
  cursor: pointer;
}

.star-icon {
  width: 20px;
  height: 20px;
  display: block;
}

.rating-value {
  margin-left: 8px;
  font-size: 14px;
}

.star-error {
  color: red;
  margin: 0;
}
