/* Fonts */
/* ------------------------------------ */
$ff-main: "Play", "Arial", sans-serif;

/* Colors */
/* ------------------------------------ */
$color-white: #FFFFFF;
$color-white-50: rgba(255, 255, 255, 0.5);
$color-white-70: rgba(255, 255, 255, 0.7);
$color-montana: rgba(57, 59, 60, 1);
$color-magenta-medium: #DC5DFC;
$color-forest-green: #308E21;
$white-70: rgba(255, 255, 255, 0.7);
$color-sky-blue: #67A5EB;
$color-amethyst: #6A5DC2;
$color-mustard: #a59400;
$color-text-muted: #777777;
$color-error: #c82020;
$color-black: #0A0B0B;
$color-black-alpha-40: rgba(0, 0, 0, 0.4);
$color-LightCoral: rgba(255, 117, 117, 1);
$color-light-lavender: #B4A9FF;

/* Breakpoints */
/* ------------------------------------ */
$vp-mobile: 375px;
$vp-tablet: 768px;
$vp-desktop: 1024px;
$vp-desktop-lg: 1440px;