/* Fonts */
/* ------------------------------------ */
$ff-main: "Montserrat", "Arial", sans-serif;

/* Colors */
/* ------------------------------------ */
$color-white: #FFFFFF;
$color-platinum: #EAEAEA;
$color-dark-vulcan: #1C1C27;
$color-apricot: #FFA542;
$color-neutral-grey: #838383;
$color-golden-sand: #FFCE7F;
$color-black: #000000;
$color-near-black: #101010;
$color-grey-medium: #AAAAAA;

/* Breakpoints */
/* ------------------------------------ */
$vp-mobile: 375px;
$vp-tablet: 768px;
$vp-desktop: 1024px;
$vp-desktop-lg: 1440px;