.footer {
  padding: 40px 0;

  @include vp-375 {
    padding: 24px 0;
  }

  &__wrapper {
    display: flex;
    gap: 24px;
    justify-content: end;

    @include vp-375 {
        justify-content: start;
    }
  }

  &__link svg {
    width: 36px;
    height: 36px;

    @include vp-375 {
      width: 24px;
      height: 24px;
    }
  }
}
