.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 2000;

  &--active {
    display: flex;
  }

  &__content {
    background: #fff;
    padding: 20px 30px;
    border-radius: 16px;
    max-width: 400px;
    text-align: center;
    position: relative;
  }

  &__close {
    position: absolute;
    top: 8px;
    right: 8px;
    border: none;
    background: transparent;
    font-size: 24px;
    cursor: pointer;
  }

  &__text {
    font-size: 16px;
    margin: 0;
  }
}
